$colorLink: gray;
$colorChange: blue;
$fontWeight500: 500;
$colorTitle: white;
$fontSizeTitle: 20px;
$backroundColor: black;
$backgroundColorMain: blue;
$backgroundColorFooter: #303030;
$colorList: gray;